<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd"
>

    <bean name="Database" class="main.Database">
      <property name="port" value="1"/>
      <property name="name" value="TANUJ"/>
    </bean>

    <bean name="teaRestaurant" class="main.Restaurant" scope="prototype" >
        <property name="hotDrink" ref="tea"/>
    </bean>

    <bean name="tea" class="main.Tea"/>
    <!--<bean name="teaRestaurant" class="main.Restaurant">-->
        <!--<property name="hotDrink" ref="Tea"/>-->
    <!--</bean>-->

    <!--<bean name="Tea" class="main.Tea"/>-->
    <bean name="expressteaRestaurant" class="main.Restaurant">
        <property name="hotDrink">
            <bean name = "expressTea" class="main.ExpressTea">
            </bean>
        </property>
    </bean>

    <bean name="complexBean" class="main.Complex">
        <property name="list">
            <list>
                <value>1</value>
                <value>2</value>
                <value>3</value>
            </list>
        </property>
        <property name="map">
            <map>
                <entry key="MapItem1" value="1"/>
                <entry key="MapItem2" value="2"/>
                <entry key="MapItem3" value="3"/>
            </map>
        </property>
        <property name="set">
            <set>
                <value>1</value>
                <value>2</value>
                <value>3</value>
            </set>
        </property>
    </bean>

    <!--<bean name="restaurant" class="main.Restaurant" autowire="byType"/>-->
    <!--<bean name="restaurant" class="main.Restaurant" autowire="byType"/>-->
    <!--<bean name="restaurant" class="main.Restaurant" autowire="constructor"/>-->
    <bean name="hotDrink" class="main.ExpressTea"/>
    <context:annotation-config/>
</beans>